<app-navbar></app-navbar>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<router-outlet></router-outlet>
<div><a [href]=" myURL">CLICK ON THIS</a></div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>REVALUE</h4>
                <ul>
                    <li><a (click)="onAbout()">about us</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Contac Us</h4>
                <ul>
                    <li><a> 0893258498</a></li>
                    <li><a> info@revalue.com</a></li>
                    <li><a>Head Office:<br>10 Grand Canal Dock<br>Dublin 04<br>D04T789</a></li>

                </ul>
            </div>
            
           
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
    




  
