<div class="container1">
<div>
  <h1>NEW USER?</h1>
</div>
  <img src="../../assets/images/Difference-Between-E-Commerce-and-E-Business.png" alt="image">
  <button  class="btn info"  (click)="onClick()">TAKE ME TO REGISTRATION PAGE</button>
 
</div>

<div class="Heading">
  <h1>PRODUCT</h1>
</div>
<div class="all">
  <div class="cards">
    <div class="card shadow-1" *ngFor="let product of products">
      <div class="container">
          <p>{{ product.name }}<span>€{{ product.price }}</span></p>
          <a style="padding-bottom: 50px;">{{ product.description }}</a>

          <div class="buy-button" style="padding-top: 50px;">
              <button  class="btn login" class="btn register" (click)="onContact()">CONTACT</button>
          </div>
      </div>
    </div>
  </div>
  
</div>