<div class="card shadow-1" *ngFor="let product1 of products" >
    <div class="container">
        <p>{{ product1.name }}<span>€{{ product1.price }}</span></p>
            <a style="padding-bottom: 50px;">{{ product1.description }}</a>
    </div>
</div>

<script>
    $('.card').on('click', function() {
      if ($(this).hasClass('open')) {
        $('.card').removeClass('open');
        $('.card').removeClass('shadow-2');
        $(this).addClass('shadow-1');
        return false;
      } else {
        $('.card').removeClass('open');
        $('.card').removeClass('shadow-2');
        $(this).addClass('open');
        $(this).addClass('shadow-2');
      }
    });
    </script>